@model StudentInformationSystem.Models.Exams

@{
    ViewBag.Title = "DeleteExam";
}

<h2>ษพ๏ฟฝ๏ฟฝ๏ฟฝ๏ฟฝ๏ฟฝ๏ฟฝ</h2>

<h3>๏ฟฝ๏ฟฝศท๏ฟฝ๏ฟฝาชษพ๏ฟฝ๏ฟฝ๏ฟฝ๏ฟฝ๏ฟฝ๏ฟฝ๏ฟฝ๏ฟฝ๏ฟฝิฐ๏ฟฝ๏ฟฝ๏ฟฝ๏ฟฝ๏ฟฝ</h3>
<div>
    <h4>@Model.Courses.CourseName</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            ๏ฟฝฮณ๏ฟฝ๏ฟฝ๏ฟฝ๏ฟฝ๏ฟฝ
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Courses.CourseName)
        </dd>

        <dt>
            ๏ฟฝ๏ฟฝ๏ฟฝ๏ฟฝสฑ๏ฟฝ๏ฟฝ
        </dt>

        <dd>
            @Model.StartTime.ToString("yyyy-MM-dd HH:mm") - @Model.EndTime.ToString("HH:mm")
        </dd>

        <dt>
            ๏ฟฝ๏ฟฝ๏ฟฝิตุต๏ฟฝ
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Location)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="ศท๏ฟฝ๏ฟฝษพ๏ฟฝ๏ฟฝ" class="btn btn-danger" /> |
            @Html.ActionLink("๏ฟฝ๏ฟฝ๏ฟฝ๏ฟฝ๏ฟฝะฑ๏ฟฝ", "ExamList", null, new { @class = "btn btn-default" })
        </div>
    }
</div>
