@model IEnumerable<StudentInformationSystem.Models.Exams>

@{
    ViewBag.Title = "๏ฟฝาตฤฟ๏ฟฝ๏ฟฝิฐ๏ฟฝ๏ฟฝ๏ฟฝ";
}

<h2>@ViewBag.Title</h2>

<table class="table">
    <tr>
        <th>
            ๏ฟฝฮณ๏ฟฝ๏ฟฝ๏ฟฝ๏ฟฝ๏ฟฝ
        </th>
        <th>
            ๏ฟฝ๏ฟฝ๏ฟฝ๏ฟฝสฑ๏ฟฝ๏ฟฝ
        </th>
        <th>
            ๏ฟฝ๏ฟฝ๏ฟฝิตุต๏ฟฝ
        </th>
        <th>
            ๏ฟฝ๏ฟฝืข
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Courses.CourseName)
            </td>
            <td>
                @item.StartTime.ToString("yyyy-MM-dd HH:mm") - @item.EndTime.ToString("HH:mm")
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Location)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Details)
            </td>
        </tr>
    }

</table>
